target/
*.iml
*.iws
*.ipr
.idea/

.settings/
.classpath
.project
.DS_Store
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar


*.class
*.log
*.ctxt
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar


cmake-build-*/
# IntelliJ
out/
*.log.*
/build
*/build
*/build/*
.gradle